* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#buttons {
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100%;
    max-width: 700px;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 60px;
    border-radius: 0.15em;
    text-decoration: none;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
}

.btn:hover {
    transform: scale(1.1);
}

#game {
    flex-direction: row;
    border: solid red 2px;
}

#game-text {
    font-size: 30px;
    resize: none;
    text-size-adjust: none;

}

.scorebox {
    padding: 1em;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid red 2px;
}

#text-drop {
    justify-content: center;
    position: relative;
    display: flex;
    font-size:100px;
    font-family: arial;
    font-weight: 900;
  }

  .rock-drop,
  .paper-drop,
  .scissors-drop {
      margin: 10px;
      text-shadow: 2px 2px 0px black, -2px 2px 0px black, -2px -2px 0px black, 2px -2px 0px black
  }
  
  .rock-drop {
    opacity:0;
    animation: drop .4s linear forwards;
    color: #9b5de5;
  }
  
  .paper-drop {
    opacity:0;
    animation: drop .4s linear forwards 1s;
    color: #f15bb5;
  }
  
  .scissors-drop {
    opacity:0;
    animation: drop .4s linear forwards 2s;
    color: #fee440;
  }
  
  @keyframes drop {
    0% {transform: translateY(-200px) scaleY(0.9); opacity: 0;}
    5% {opacity: .7;}
    50% {transform: translateY(0px) scaleY(1); opacity: 1;}
    65% {transform: translateY(-17px) scaleY(.9); opacity: 1;}
    75% {transform: translateY(-22px) scaleY(.9); opacity: 1;}
    100% {transform: translateY(0px) scaleY(1); opacity: 1;}
  }